:root {
  --colorPurple: #8000ff;
  /* before : #5e02ba */
}

html.snap {
  scroll-snap-type: y mandatory;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#wrap {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s 0.8s ease-in-out;
  background-color: var(--colorPurple) !important;
}

main.active {
  height: 410%;
}

.tag {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 720px;
  border-radius: 60px 160px 60px 160px;
  background: #fff;
  /* overflow: hidden; */
  transition: 1s ease-in-out;
}

.tag.active {
  animation: tagGrowWidth 0.8s ease-in-out forwards,
    tagGrowHeight 0.8s 0.8s ease-in-out forwards;
}

.tag-section {
  position: absolute;
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
}

.tag-section1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s ease-in-out;
}

.tag-section2,
.tag-section3,
.tag-section4 {
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  transition: 0.5s ease-in-out;
  opacity: 0;
}

.tag-section2.active,
.tag-section3.active,
.tag-section4.active {
  display: flex;
}

.tag-section2.apear,
.tag-section3.apear,
.tag-section4.apear {
  opacity: 1;
}

/* section1 */

.tag .tag-pitAndTitle {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.8s ease-in-out;
}

.tag-pitAndTitle.active {
  top: 8vh;
}

.pit {
  width: 30px;
  padding: 25px 0;
  z-index: 99999;
  transition: 0.8s ease-in-out;
}

.pit.active {
  transform: scale(3);
}

.title {
  font-size: 32px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
  color: var(--colorPurple);
  transition: 0.5s ease-in-out;
}

.title.active {
  opacity: 0;
}

.title-hidden {
  font-size: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
  color: var(--colorPurple);
  position: absolute;
  top: 8vh;
  left: 12vh;
  opacity: 0;
  transition: 0.8s 0.8s ease-in-out;
}

.title-hidden.active {
  opacity: 1;
}

.tag-paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tag-paragraph p {
  width: 250px;
  color: rgba(0, 0, 0, 0.664);
  font-size: 14px;
  line-height: 1.3rem;
  font-family: sans-serif;
  margin-top: 5px;
}

.tag-paragraph.active {
  display: none;
}
.barcode {
  background-image: url(files/barcode.svg);
  position: absolute;
  bottom: 20px;
  display: inline-block;
  width: 200px;
  height: 80px;
  background-size: cover;
  margin-bottom: 40px;
  transition: 0.5s ease;
}

.barcode:hover {
  background-image: url(files/barcode-hover.svg);
  transform: scale(1.03);
  cursor: pointer;
}

.barcode.active {
  display: none;
}

.tag-hidden_container {
  opacity: 0;
  display: none;
}

.tag-hidden_container.active {
  display: block;
  animation: container-apear 1s 1.65s ease forwards;
}

.carousel {
  border-radius: 55px 400px 55px 55px;
  overflow: hidden;
}

/* section2 */

.tag-section2 .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag-section2 .container-span {
  text-align: left;
  font-size: 28px;
  padding: 50px;
}

.tag-section2 .container-span .col-md h2 {
  font-size: 34px;
  margin-bottom: 20px;
}

.tag-section2 .container-span .col-md p {
  font-size: 18px;
}

.tag-section2 .container-span strong {
  color: var(--colorPurple);
}

.tag-section2 .container-contents {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.tag-section2 .container-contents .col-md {
  display: flex !important;
  flex-direction: column !important;
  margin: 0 13px;
  border: 2px solid rgba(0, 0, 0, 0.2) !important;
  transition: 0.3s ease-in-out;
}

.tag-section2 .container-contents .col-md:hover {
  border: 2px solid var(--colorPurple) !important;
  cursor: pointer;
}

.tag-section2 .fa-solid {
  padding: 50px;
  font-size: 50px;
  color: var(--colorPurple);
  opacity: 0.9;
}

.tag-section2 .container-contents .col-md h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 10px;
  margin-bottom: 20px;
}

.tag-section2 .container-contents .col-md p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.664);
  padding-bottom: 50px;
}

/* section3 */

.tag-section3 .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag-section3 .container-span {
  justify-content: left;
  padding: 50px;
}

.tag-section3 .container-span .col-md h2 {
  text-align: left;
  font-size: 30px;
  margin-bottom: 20px;
}

.tag-section3 .container-span .col-md strong {
  font-size: 34px;
  color: var(--colorPurple);
}

.tag-section3 .container-contents {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.tag-section3 .container-contents .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag-section3 .container-contents .col-md-2 {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 18rem;
  margin: 20px;
  border-radius: 5% !important;
  box-sizing: border-box;
  overflow: hidden;
  border: 1px solid transparent;
  transition: 0.3s ease-in-out;
}

.tag-section3 .container-contents .col-md-2:hover {
  border: 1px solid var(--colorPurple);
  cursor: pointer;
}

.tag-section3 .card {
  border: none !important;
}

.tag-section3 .card img {
  width: 100% !important;
  border-radius: 0 0 5% 5% !important;
}

.tag-section3 .card h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 10px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.tag-section3 .card p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.664);
}

/* section4 */

.tag-section4 {
  overflow: hidden;
}

.tag-section4 .container-map {
  position: absolute;
  top: 0;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 0;
  width: 100%;
  height: 50%;
}

.tag-section4 .container-map .row-fluid {
  width: 100%;
  height: 100%;
}

.tag-section4 .container-map .col-md-12-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#map {
  width: 75%;
  height: 75%;
}

.tag-section4 .container-contents {
  position: absolute;
  bottom: 0;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100%;
  height: 50%;
  border-radius: 0 0 150px 450px;
  background: #6f2ac9;
}

.tag-section4 .container-contents .row {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100%;
  height: 100%;
}

.tag-section4 .container-contents .col-md-4 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.tag-section4 .container-contents img {
  width: 60%;
}

.tag-section4 .container-contents .col-md-6 {
  position: relative;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 18px;
  color: white;
}

.tag-section4 .container-contents .col-md-6 div:first-child {
  width: 130px;
  font-weight: 700;
}

.tag-section4 .container-contents .col-md-6 div:last-child {
  width: 300px;
  opacity: 0.6;
  font-size: 18px;
}

@keyframes tagGrowWidth {
  from {
  }
  to {
    width: 93%;
    border-radius: 150px 450px 150px 150px;
  }
}

@keyframes tagGrowHeight {
  from {
  }
  to {
    height: 400vh;
    border-radius: 150px 450px 150px 450px;
  }
}

@keyframes container-apear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1199px) {
  .carousel {
    border-radius: 55px 300px 55px 55px;
    overflow: hidden;
  }

  .tag-section4 .container-contents {
    border-radius: 0 0 120px 400px;
  }

  @keyframes tagGrowWidth {
    from {
    }

    to {
      width: 93%;
      border-radius: 120px 400px 120px 120px;
    }
  }

  @keyframes tagGrowHeight {
    from {
    }
    to {
      height: 400vh;
      border-radius: 120px 400px 120px 400px;
    }
  }
}

@media screen and (max-width: 991px) {
  .carousel {
    border-radius: 55px 300px 55px 55px;
    overflow: hidden;
  }

  .tag-section4 .container-contents {
    border-radius: 0 0 120px 350px;
  }

  @keyframes tagGrowWidth {
    from {
    }

    to {
      width: 93%;
      border-radius: 120px 350px 120px 120px;
    }
  }

  @keyframes tagGrowHeight {
    from {
    }
    to {
      height: 400vh;
      border-radius: 120px 350px 120px 350px;
    }
  }
}
