:root {
  --colorPurple: #8000ff;
  --colorPurple-light: #7d4eff;
  /* before : #5e02ba */
}

html {
  scroll-behavior: smooth;
}

html.snap {
  scroll-snap-type: y mandatory;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#wrap {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s 0.8s ease-in-out;
  background-color: var(--colorPurple) !important;
}

main.active {
  height: 410%;
}

.tag {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 720px;
  border-radius: 60px 160px 60px 160px;
  background: #fff;
  /* overflow: hidden; */
  transition: 1s ease-in-out;
  opacity: 0;
  animation: main-apear 1.3s 0.5s cubic-bezier(0.85, 0, 0.15, 1) forwards;
}

.tag.active {
  opacity: 1;
  animation: tagGrowWidth 0.8s cubic-bezier(0.85, 0, 0.15, 1) forwards,
    tagGrowHeight 0.8s 0.8s ease-in-out forwards;
}

.tag-section {
  position: absolute;
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
}

.tag-section1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s ease-in-out;
}

.tag-section2,
.tag-section3,
.tag-section4 {
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-top: 1px solid black; */
  transition: 0.5s ease-in-out;
  overflow: scroll;
  opacity: 0;
}

.tag-section2.active,
.tag-section3.active,
.tag-section4.active {
  display: flex;
  opacity: 1;
}

/* .tag-section2.apear,
.tag-section3.apear,
.tag-section4.apear {
  opacity: 1;
} */

/* section1 */

.tag .tag-pitAndTitle {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.8s ease-in-out;
}

.tag-pitAndTitle.active {
  top: 8vh;
}

.pit {
  width: 30px;
  padding: 25px 0;
  z-index: 99999;
  transition: 0.8s ease-in-out;
}

.pit.active {
  transform: scale(3);
}

.title {
  font-size: 32px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
  color: var(--colorPurple);
  transition: 0.5s ease-in-out;
}

.title.active {
  opacity: 0;
}

.title-hidden {
  cursor: pointer;
  text-decoration: none;
  font-size: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
  color: var(--colorPurple);
  position: absolute;
  top: 8vh;
  left: 12vh;
  opacity: 0;
  transition: 0.8s 0.8s ease-in-out;
}

.title-hidden.active {
  opacity: 1;
}

.tag-paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tag-paragraph p {
  width: 250px;
  color: rgba(0, 0, 0, 0.664);
  font-size: 14px;
  line-height: 1.3rem;
  font-family: sans-serif;
  margin-top: 5px;
}

.tag-paragraph.active {
  display: none;
}
.barcode {
  background-image: url(files/barcode.svg);
  position: absolute;
  bottom: 20px;
  display: inline-block;
  width: 200px;
  height: 80px;
  background-size: cover;
  margin-bottom: 40px;
  transition: 0.5s ease;
}

.barcode:hover {
  background-image: url(files/barcode-hover.svg);
  transform: scale(1.03);
  cursor: pointer;
}

.barcode.active {
  display: none;
}

.tag-hidden_container {
  opacity: 0;
  display: none;
}

.tag-hidden_container.active {
  display: block;
  animation: container-apear 0.8s 1.65s ease forwards;
}

.carousel {
  border-radius: 55px 400px 55px 55px;
  overflow: hidden;
  border: 3px solid var(--colorPurple-light);
  transition: 1s ease-in-out;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='purple'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>") !important;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='purple'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

/* section2 */

.tag-section2 .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.tag-section2 .container-span {
  position: absolute;
  top: 10vh;
  text-align: left;
  font-size: 28px;
  opacity: 0;
}

.tag-section2 .container-span .col-md-10 {
  position: relative;
  padding: 90px;
}

.tag-section2 .container-span .row .box-line:first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 130px;
  opacity: 0;
  border-top: 8px solid var(--colorPurple);
  border-left: 8px solid var(--colorPurple);
}

.tag-section2 .container-span .row .box-line:nth-child(2) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 130px;
  height: 180px;
  opacity: 0;
  border-bottom: 8px solid var(--colorPurple);
  border-right: 8px solid var(--colorPurple);
}

.tag-section2 .container-span .col-md-10 h2 {
  font-size: 34px;
  margin-bottom: 20px;
}

.tag-section2 .container-span .col-md-10 p {
  font-size: 18px;
}

.tag-section2 .container-span strong {
  color: var(--colorPurple);
}

.tag-section2 .container-contents {
  position: absolute;
  bottom: 10vh;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  overflow: hidden;
}

.tag-section2 .container-contents .row {
  display: flex;
  justify-content: center;
  margin: 0;
}

.tag-section2 .container-contents .col-md {
  position: relative;
  display: flex !important;
  flex-direction: column !important;
  margin: 1rem 1rem;
  border: 2px solid rgba(0, 0, 0, 0.2) !important;
  opacity: 0;
  background: var(--colorPurple);
  transition: 0.2s ease-in-out;
}

.tag-section2 .container-contents .col-md:hover {
  transform: scale(1.1);
  background: var(--colorPurple-light);
  cursor: pointer;
}

.tag-section2 .fa-solid {
  padding: 50px;
  font-size: 50px;
  color: white;
}

.tag-section2 .container-contents .col-md h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 10px;
  margin-bottom: 20px;
  color: white;
}

.tag-section2 .container-contents .col-md p {
  font-size: 14px;
  color: white;
  opacity: 0.7;
  padding-bottom: 50px;
}

/* section3 */
.tag-section3 {
  position: relative;
  width: 93vw;
  height: 100vh;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  overflow-y: hidden;
}

.contents-wraper {
  width: 93vw;
  height: 60vh;
  position: absolute;
  bottom: 3rem;
  white-space: nowrap;
}

.tag-section3 .container-span {
  position: absolute;
  justify-content: left;
  top: 10vh;
  opacity: 0;
}

.tag-section3 .container-span > .row > .col-md-10 {
  padding: 90px;
  position: relative;
}

.tag-section3 .container-span > .row > .col-md-10 > .box-line:first-child {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 180px;
  height: 130px;
  opacity: 0;
  border-bottom: 8px solid var(--colorPurple);
  border-left: 8px solid var(--colorPurple);
}

.tag-section3 .container-span > .row > .col-md-10 > .box-line:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 130px;
  height: 180px;
  opacity: 0;
  border-top: 8px solid var(--colorPurple);
  border-right: 8px solid var(--colorPurple);
}

.tag-section3 .container-span .col-md-10 h2 {
  text-align: left;
  font-size: 30px;
  margin-bottom: 20px;
}
.tag-section3 .container-span .col-md-10 strong {
  font-size: 34px;
  color: var(--colorPurple);
}
.tag-section3 .container-span .col-md-10 p {
  font-size: 18px;
}

.tag-section3 .section {
  width: 93vw;
  height: 60vh;
  display: inline-block;
  position: relative;
  bottom: 0;
  overflow-y: hidden;
  scroll-snap-align: start;
}

.tag-section3 .card-wraper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag-section3 .section .section-num {
  position: absolute;
  bottom: 0;
  right: 2rem;
  font-size: 60px;
  color: var(--colorPurple);
}

.tag-section3 .card {
  width: 18rem;
  height: auto;
  margin: 1rem;
  border-radius: none !important;
  transition: 0.4s ease-in-out;
}

.tag-section3 .card:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.tag-section3 .card-body {
  background: var(--colorPurple) !important;
}

.tag-section3 .card > img {
  width: 100% !important;
  border-radius: none !important;
  transition: 0.2s ease-in-out;
}

.tag-section3 .card:hover > img {
  filter: blur(1px);
  border: none;
}

.tag-section3 .card h2 {
  width: 100%;
  color: white;
  font-size: 20px;
  font-weight: 600;
  line-height: 10px;
  padding: 10px 0;
  text-transform: uppercase;
}
.tag-section3 .card p {
  width: 100%;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

/* section4 */

.tag-section4 {
  overflow: hidden;
}

.tag-section4 .container-map {
  position: absolute;
  top: 0;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 0;
  width: 100%;
  height: 50%;
  opacity: 0;
}

.tag-section4 .container-map .row-fluid {
  width: 100%;
  height: 100%;
}

.tag-section4 .container-map .col-md-12-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#map {
  width: 75%;
  height: 75%;
}

.tag-section4 .container-contents {
  position: absolute;
  bottom: 0;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100%;
  height: 50%;
  border-radius: 0 0 150px 450px;
  background: #6f2ac9;
  opacity: 0;
}

.tag-section4 .container-contents .row {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100%;
  height: 100%;
}

.tag-section4 .container-contents .col-md-4 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.tag-section4 .container-contents .col-md-4 p {
  text-align: right;
  color: white;
  opacity: 0.8;
  letter-spacing: 1px;
}

.tag-section4 .container-contents img {
  width: 60%;
}

.tag-section4 .container-contents .col-md-6 {
  position: relative;
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100%;
  font-size: 18px;
  color: white;
}

.tag-section4 .container-contents .col-md-6 div:first-child {
  width: 130px;
  font-weight: 700;
}

.tag-section4 .container-contents .col-md-6 div:last-child {
  width: 300px;
  opacity: 0.8;
  font-size: 18px;
}

.tag-section4 .container-contents a {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  font-size: 30px;
  color: white;
  text-decoration: none;
}

@keyframes main-apear {
  from {
    transform: translate(-50%, -50%) scale(0.1);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@keyframes tagGrowWidth {
  from {
  }
  to {
    width: 93%;
    border-radius: 150px 450px 150px 150px;
  }
}

@keyframes tagGrowHeight {
  from {
  }
  to {
    height: 400vh;
    border-radius: 150px 450px 150px 450px;
  }
}

@keyframes container-apear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideText {
  from {
    left: -100px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes slideContents {
  from {
    bottom: -150px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes box1Apear {
  from {
    top: 130px;
    left: 130px;
    opacity: 0;
  }
  to {
    top: 0;
    left: 0;
    opacity: 1;
  }
}

@keyframes box2Apear {
  from {
    bottom: 130px;
    right: 130px;
    opacity: 0;
  }
  to {
    bottom: 0;
    right: 0;
    opacity: 1;
  }
}

@keyframes box3Apear {
  from {
    bottom: 130px;
    left: 130px;
    opacity: 0;
  }
  to {
    bottom: 0;
    left: 0;
    opacity: 1;
  }
}

@keyframes box4Apear {
  from {
    top: 130px;
    right: 130px;
    opacity: 0;
  }
  to {
    top: 0;
    right: 0;
    opacity: 1;
  }
}
