:root {
  --colorPurple: #5e02ba;
}
#wrap {
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--colorPurple) !important;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  transition: 0.8s 0.8s ease-in-out;
}

main.active {
  height: 310vh;
}

.tag {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 720px;
  overflow: hidden;
  border-radius: 60px 160px 60px 160px;
  background-image: url(files/background.png);
  transition: 1s ease-in-out;
}

.tag-pitAndTitle {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.8s ease-in-out;
}

.tag-pitAndTitle.active {
  top: 13vh;
  transform: scale(3);
}

.pit {
  width: 30px;
  height: 30px;
  padding: 25px 0;
  z-index: 99999;
}

.tag div:first-child span {
  font-size: 32px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
  color: var(--colorPurple);
}

.tag-paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tag p {
  width: 250px;
  color: rgba(0, 0, 0, 0.664);
  font-size: 14px;
  line-height: 1.3rem;
  font-family: sans-serif;
  margin-top: 5px;
}

.tag-paragraph.active {
  display: none;
}
.barcode {
  background-image: url(files/barcode.svg);
  position: absolute;
  bottom: 20px;
  display: inline-block;
  width: 200px;
  height: 80px;
  background-size: cover;
  margin-bottom: 40px;
  transition: 0.5s ease;
}

.barcode:hover {
  background-image: url(files/barcode-hover.svg);
  transform: scale(1.03);
  cursor: pointer;
}

.barcode.active {
  display: none;
}

.tag.active {
  animation: tagGrowWidth 0.8s ease-in-out forwards,
    tagGrowHeight 0.8s 0.8s ease-in-out forwards;
}

.tag-hidden_container {
  opacity: 0;
  display: none;
}

.tag-hidden_container.active {
  display: block;
  animation: container-apear 1s 2s ease forwards;
}

@keyframes tagGrowWidth {
  from {
  }

  to {
    position: relative;
    top: 0;
    width: 100%;
    border-radius: 150px 600px 150px 150px;
  }
}

@keyframes tagGrowHeight {
  from {
  }
  to {
    height: 300vh;
    border-radius: 150px 600px 150px 600px;
  }
}

@keyframes container-apear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
